# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtualenv
venv/
ENV/
.env
.env.*

# Database
*.sqlite3
*.db
*.db-journal

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.bak
*.swp

# Ignore outputs and data
outputs/
data/
uploads/
